

.principal,
form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#main{
  width: 80%;
  height: 100%;
  box-shadow: 10px 10px 5px rgba(0, 8, 11, 0.906);
}


/*
colores de fondo del body
*/
#img-1{
  width: 5%;
}
.enojado{

  
}


.tranquilo{
  background: rgb(116, 194, 210);
background:(0deg, rgba(227,221,209,1) 33%, rgba(227,221,209,1) 48%, rgba(34,193,195,1) 100%);
}

.feliz{
  background-image:(180deg, #FFFFFF 100%, #f6d9d9 100% );
  background-color: #68d7f0;
}


.triste{
  background: rgb(134, 135, 202);
  background: (0deg, rgba(14,19,221,0.9784956218815651) 27%, rgba(236,238,242,1) 96%, rgba(236,238,242,1) 134%);
}



/*
colores de fondo de la seccion 
*/
.enojado-s{
  background-color: rgb(159, 8, 8);
}


.feliz-s{
  background-color: rgb(247, 190, 0);
}


.triste-s{
  background-color: rgb(69, 69, 147) ;
}

.tranquilo-s{
  background-color: rgb(57, 112, 112);
}



/*
estilo del contenedor
*/
#contenedor-btns{
   display: flex;
   flex-direction: row;
}

.main{
  margin-left: 10%;
}

/*
tamaños para las imagenes
*/
.img{
  width: 20%;
}
.img2{
  width:20%;
}

/*
estilo de botones
*/
.tranquilo-btn,
.enojado-btn,
.triste-btn,
.feliz-btn{
 width: 10%;
}

