

.principal,
form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#main{
  width: 80%;
  height: 100%;
  box-shadow: 10px 10px 5px rgba(0, 8, 11, 0.906);
}
*{
  padding: 0%;
}

/*
colores de fondo del body
*/
#img-1{
  width: 5%;
}
.enojado{
  background: rgb(244,7,40);
background: linear-gradient(0deg, rgba(244,7,40,0.9840978627779237) 9%, rgba(242,240,234,0.9953023445706407) 97%);
background-repeat: no-repeat;
}


.tranquilo{
  background: rgb(14,189,221);
  background: linear-gradient(0deg, rgba(14,189,221,0.9784956218815651) 27%, rgba(247,251,251,1) 96%, rgba(236,238,242,1) 99%);
  background-repeat: no-repeat;
}

.feliz{
  background-color: rgb(243,148,7);
  background: linear-gradient(0deg, rgba(243,148,7,0.9784956218815651) 0%, rgba(249,249,246,1) 88%);;
  background-repeat: no-repeat;
}

.triste{
  background: rgb(14,19,221);
  background: linear-gradient(0deg, rgba(14,19,221,0.9784956218815651) 27%, rgba(236,238,242,1) 96%, rgba(236,238,242,1) 134%);
  background-repeat: no-repeat;
}



/*
colores de fondo de la seccion 
*/
.enojado-s{
  background-color: rgb(159, 8, 8);
}


.feliz-s{
  background-color: rgb(247, 190, 0);
}


.triste-s{
  background-color: rgb(69, 69, 147) ;
}

.tranquilo-s{
  background-color: rgb(57, 112, 112);
}



/*
estilo del contenedor
*/
#contenedor-btns{
   width: 50%;
   display: flex;
   flex-direction: row;
}

.main{
  margin-left: 10%;
}

/*
tamaños para las imagenes
*/
.img{
  width: 100%;
}
.img2{
  width:80%;
}

/*
estilo de botones
*/
.tranquilo-btn,
.enojado-btn,
.triste-btn,
.feliz-btn{
  border-style: none;
}

